[Unit]
Description=Gunicorn (Django shop backend)
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/lesson/backend
Environment="PATH=/var/www/lesson/backend/.venv/bin"
Environment="DJANGO_SETTINGS_MODULE=config.settings"
ExecStart=/var/www/lesson/backend/.venv/bin/gunicorn \
    --bind 127.0.0.1:325 \
    --workers 3 \
    --timeout 120 \
    --access-logfile - \
    --error-logfile - \
    config.wsgi:application
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
